/bin/
/target/
env.json
Output/Joularjx/*
Output/JProfiler/*
Output/snapshot.jps
!Output/Joularjx/
./src/test/data/db/*
spectra-joularjx/bcel-6.10.0.jar
spectra-joularjx/CITATION.cff
spectra-joularjx/config-installer.bat
spectra-joularjx/mvnw
spectra-joularjx/mvnw.cmd
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
bcel-6.10.0.jar
### STS ###x
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
jprofiler_config.xml
Output/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
src/.DS_Store
Results/*
joularjx-result/*
.DS_Store
Output/.DS_Store

src/test/java/ca/concordia/ptidej/spectra/example/OverloadTest.java
src/test/java/ca/concordia/ptidej/spectra/example/TestCityDataApp
src/test/java/ca/concordia/ptidej/spectra/example/TestJHChartMethods
src/test/java/ca/concordia/ptidej/spectra/example/TestJHotDrawAnimationSample
src/test/java/ca/concordia/ptidej/spectra/example/TestJHotDrawMiniDraw
src/test/java/ca/concordia/ptidej/spectra/example/TestOverloadMethods

### VS Code ###
.vscode/

/.metadata/
